@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  line-height: 1.6;
  color: #333;
}

:root{
  --red : #a12044;
  --pink:#fff6f8;
  --white:#ffffff;
  --gray :#333;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styles */
.header {
  padding: 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background 0.3s ease;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #c41e3a;
  text-decoration: none;
}

.logo-icon {
  width: 150px;
  height: 75px;
  margin-right: 6px;
  border-radius: 4px;
  /* background: #c41e3a; */
  padding: 4px;
}

.search-container {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 60%;
  margin: 0 10px;
}

.notification-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.filter-btn {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 15px 20px;
  padding-bottom: 18.6px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 40px 0 0 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Merriweather", serif;
  font-size: 15px;
  transition: background 0.3s ease;
}

.filter-btn:hover {
  background: #e9e9e9;
}

.filter-icon {
  width: 27px;
  height: 27px;
}

.search-input {
  flex: 1;
  padding: 21px 50px;
  padding-left: 15px;
  border: 1px solid #ddd;
  text-align: left;
  border-left: none;
  outline: none;
  font-size: 15px;
  font-family: "Merriweather", serif;
}

.search-input:focus {
  border-color: #c41e3a;
}

.search-btn {
  background: #a71f4b;
  border: none;
  padding: 18.5px 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0 40px 40px 0;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.search-btn:hover {
  background: #a01729;
}

.search-icon {
  width: 27px;
  height: 27px;
  filter: brightness(0) invert(1);
  /* padding-left: 20px;
  padding-right: 20px; */
}

.sign-in-btn {
  background: #a71f4b;
  color: white;
  padding: 21px 80px;
  border: none;
  cursor: pointer;
  font-family: "merriweather", serif;
  font-size: 20px;
  font-weight: 500;
  transition: background 0.3s ease;
  border-radius: 60px;
}

.sign-in-btn:hover {
  background: #a01729;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../Assets/Homepage-BG.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.hero-content p {
  font-size: 1.2rem;
  max-width: 100%;
  font-weight: 200;
  margin: 0 auto;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}

/* Discover Section */
.discover-section {
  padding: 80px 0;
  background: #f8f9fa;
  text-align: center;
}

.discover-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.discover-section p {
  font-size: 1.1rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto 60px;
  line-height: 1.8;
}

/* Features Grid */
.features-grid {
  display: grid;
  max-width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin: 40px auto 0;
  padding: 0 20px;
}

.feature-card {
  background: none;
  height: 350px;
  padding: 40px 30px;
  border-radius: 12px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: #d9d9d9 solid 2px;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.feature-icon {
  width: 60px;
  height: 60px;
  /* background: #c41e3a; */
  border-radius: 12px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}

.icon-img {
  width: 80px;
  height: 80px;
  /* filter: brightness(0) invert(1); */
}

.feature-card h3 {
  font-size: 1.3rem;
  margin-bottom: 15px 0;
  color: #333;
  text-align: center;
}

.feature-card p {
  color: #666;
  line-height: 1.6;
  font-size: 0.95rem;
  text-align: center;
  margin: 0;
}

.homepage-carousel {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homepage-carousel-title-and-desc {
  display: flex;
  flex-direction: column;
}

.homepage-carousel-title {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

.homepage-carousel-desc {
  width: 100%;
  text-align: center;
  font-size: 0.95rem;
}

.homepage-carousel-content {
  display: flex;
  gap: 2%;
  justify-content: center;
  margin-top: 5%;
}

.homepage-carousel-card-content {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.homepage-carousel-card-content-title {
  color: #f5f5f5;
}

.homepage-carousel-card-image {
  margin-bottom: -45%;
}

.homepage-carousel-card-content-labels {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.3rem;
}

.homepage-carousel-card-content-label {
  color: white;
  font-size: 10%;
  padding: 0.5rem 0.1rem 0.5rem 0.5rem;
  background-color: #272a33;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 90%;
}

.homepage-carousel-card-content-label:hover {
  background-color: rgb(99, 106, 125);
  transition: ease-in-out 0.5s;
  padding: 0.7rem;
}

.homepage-carousel-card-content-label-logo {
  width: 15%;
  margin-right: 5%;
}

.homepage-carousel-card-content-label-logo-tree {
  width: 9%;
  margin-right: 5%;
}

.homepage-catalogue {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
}

.homepage-catalogue-categories {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.homepage-catalogue-category:hover {
  transition: ease-in-out 0.2s;
  color: red;
  text-decoration: underline;
}

.homepage-catalogue-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2%;
  margin-left: 2%;
  margin-right: 2%;
}


.homepage-catalogue-status-and-wishlist {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.homepage-catalogue-status {
  padding-left: 0.1rem;
  padding-top: 0.2rem;
  padding: 0.3rem;
  background-color: green;
  border-radius: 12px;
  color: white;
  margin-bottom: -15%;
  z-index: 99;
  margin-left: 2%;
  margin-top: 13%;
  width: 30%;
  font-size: 8px;
  text-align: center;
}

.homepage-catalogue-wishlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 50%;
  margin-bottom: -60%;
  z-index: 99;
  margin-left: 2%;
  margin-top: 14%;
  width: 25px;
  height: 25px;
}

.homepage-catalogue-wishlist-icon {
  width: 50%;
  height: 50%;
}

.homepage-catalogue-card-image {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  height: auto;
  margin-right: 19.2rem;
}

.homepage-catalogue-overview-section {
  width: 100%;
  display: flex;
  color: #959595;
  justify-content: center;
  align-items: center;
  padding-right: 1%;

  h1 {
    text-decoration: none;
    font-weight: 0;
  }

  h2 {
    font-size: 12px;
  }
}

.homepage-catalogue-overview-legend {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 35%;
  font-size: 10px;
}

.homepage-catalogue-overview-legend-icon {
  width: 20%;
  height: auto;
}

.homepage-catalogue-highlights {
  p {
    font-size: 12px;
  }
}

.homepage-catalogue-highlight-legend {
  display: flex;
  align-items: center;

  span {
    margin-left: 1%;
    margin-top: 1%;
    font-size: 12px;
    font-weight: 500;
  }
}

.homepage-catalogue-highlight-title {
  font-weight: 200;
}

.homepage-catalogue-highlight-legend-discount-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
}

.homepage-catalogue-highlight-legend-discount-indicator {
  background-color: #959595;
  padding: 0.3rem;
  border-radius: 6px;
  color: #f5f5f5;
}

.homepage-catalogue-highlight-legend-originalprice {
  font-weight: bold;
}
/* Footer Styles */
.main-footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: var(--red);
  color: var(--white);
  flex-wrap: wrap;
  margin-top: 50px;
  position: relative; /* For copyright positioning */
  margin-top: 10%;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 20px;
}

.footer-logo {
  height: 60px;
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.social-icons a img {
  height: 40px;
  margin-right: 10px;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 0.5rem;
}

.contact-us-btn {
  background-color: var(--white);
  color: var(--red);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}


.copyright {
  width: 100%;
  padding: 15px;
  margin: 0 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 15px;
  }

  .search-container {
    margin: 0;
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
    padding: 0 20px;
  }

  .discover-section h2 {
    font-size: 2rem;
  }

  .features-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .feature-card {
    padding: 30px 20px;
  }

  .logo {
    font-size: 20px;
  }

  .search-container {
    flex-direction: column;
    gap: 10px;
  }

  .filter-btn {
    border-radius: 6px;
    border: 1px solid #ddd;
  }

  .search-input {
    border: 1px solid #ddd;
    border-radius: 6px;
  }

  .search-btn {
    border-radius: 6px;
  }
}